<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User List</title>
  <%-include('../include/bootstrap_header') %>
</head>
<body>
<%-include('../include/navbar') %>
<%-include('./pagination_table') %>
<%-include('../include/bootstrap_footer') %>
</body>
</html>
